					<div class="col-lg-12 col-md-12 col-sm-12">

						<div class="banners-inline">

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" target="_blank" href="http://cu.ruiyinxin.com/page/login/login.jsp">
								<i class="icons icon-calendar"></i>
								<h4>交易对账</h4>
								<p>给信任以回报，因合作而精彩</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="banli.html">
								<i class="icons icon-check"></i>
								<h4>POS机办理</h4>
								<p>手续简单，轻松快捷</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="zhaoshang.html">
								<i class="icons icon-user"></i>
								<h4>代理加盟</h4>
								<p>全国诚招多级POS机代理商</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<div class="banner donate-banner animate-onscroll">

								<h5> <strong>招商热线</strong> <a href="tel:18979900538">18979900538</a></h5>
								<h5> <strong>客服在线</strong> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3060505915&amp;site=qq&amp;menu=yes">客服阿财&nbsp;&nbsp;<img src="img/footer-links-customer-service.png"></a></h5>
							</div>
						</div>
						</div>

					</div>