				<div class="row no-margin-bottom">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<!-- Owl Carousel -->
						<div class="owl-carousel-container">
							<div class="owl-header">

								<h3 class="animate-onscroll">产品展示</h3>

								<div class="carousel-arrows animate-onscroll">
									<span class="left-arrow"><i class="icons icon-left-dir"></i></span>
									<span class="right-arrow"><i class="icons icon-right-dir"></i></span>
								</div>

							</div>

							<div class="owl-carousel" data-max-items="4">

								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/product/post2.png" alt="">
										</div>

										<h4 class="post-title"><a href="http://item.taobao.com/item.htm?id=45308995036">百富S58 有线POS机</a></h4>

										<div class="post-meta">
											<span>网线 电话线 双模固定POS机</span>
										</div>

										<p>百富S58 是一款经济、安全、<br>
											耐用的支付POS终端，能实现<br>
											借记卡、信用卡、购物卡等<br>
											多种支付交易方式，<br>
											满足不同环境的商业需求。</p>

										<a href="http://item.taobao.com/item.htm?id=45308995036" class="button read-more-button big button-arrow">了解详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->

								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/product/post3.png" alt="">
										</div>

										<h4 class="post-title"><a href="http://item.taobao.com/item.htm?id=45323540218">新大陆ME31 无线POS机 </a></h4>

										<div class="post-meta">
											<span>纯移动，彩屏机</span>
										</div>

										<p>符合PCI4.X<br>
											银联卡受理终端产品安全认证<br>
											银联卡受理终端产品入网认证<br>
											PBOC3.0 Level 1&2<br>
											EMV4.3 Level 1&2<br>
										</p>

										<a href="http://item.taobao.com/item.htm?id=45323540218" class="button read-more-button big button-arrow">了解详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->

								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/product/post4.png" alt="">
										</div>

										<h4 class="post-title"><a href="http://item.taobao.com/item.htm?id=45577255735">联迪E350 无线POS机</a></h4>

										<div class="post-meta">
											<span>联迪最新产品</span>
										</div>

										<p>160小时超长待机时间<br>
											彩屏高亮LED<br>
											支持IC卡、磁条卡、非接卡等多种<br>
											高速热敏打印机<br>
											易装纸，后置式纸仓</p>

										<a href="http://item.taobao.com/item.htm?id=45577255735" class="button read-more-button big button-arrow">了解详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->


								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/product/post5.png" alt="">
										</div>

										<h4 class="post-title"><a href="http://item.taobao.com/item.htm?id=45338206916">瑞银信 手机pos机</a></h4>

										<div class="post-meta">
											<span>唯一有支付牌照的手机刷卡器</span>
										</div>

										<p>真正一清手刷，T+1，T+0秒到帐<br>
											费率：35元封顶|0.49%积分费率|1%双倍积分费率<br>
											商户自动切机，有牌照就是任性<br>
											单帐户每天20万，一个月可刷600万</p>

										<a href="http://item.taobao.com/item.htm?id=45338206916" class="button read-more-button big button-arrow">了解详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->

								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/product/post6.png" alt="">
										</div>

										<h4 class="post-title"><a href="#">瑞银信 无线蓝牙连接POS机</a></h4>

										<div class="post-meta">
											<span>蓝牙连接，自由刷</span>
										</div>

										<p>真正一清手刷，T+1，T+0秒到帐<br>
											费率：35元封顶|0.49%积分费率|1%双倍积分费率<br>
											商户自动切机，有牌照就是任性<br>
											单帐户每天20万，一个月可刷600万</p>
										<a href="#" class="button read-more-button big button-arrow">了解详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->

							</div>

						</div>
						<!-- /Owl Carousel -->
					</div>

				</div>