
						<h3 class="animate-onscroll no-margin-top">新闻公告</h3>
						<!-- news Post -->
						<div class="blog-post big animate-onscroll">

							<div class="post-image">
								<img src="img/product/post1.jpg" alt="">
							</div>

							<h5 class="post-title"><a href="news20150606.html">公司成功入驻萍乡招商局商务办公大楼</a></h5>

							<div class="post-meta">
								<!--<span>by <a href="#">admin</a></span>-->
								<span>2015-6-6 11:28AM</span>
							</div>

							<p>萍乡财联网络科技有限公司是拥有第三方支付牌照公司的全国收单机构，在几年的市场经营中，拥有了一定的知名度，也得到了很多顾客的认可。萍乡市大力发展和扶持当地金融和电子商务项目，公司始终坚持以"一切只为客户"的发展理念获得了当地招商局的肯定与支持，成为首批入驻萍乡市经济开发区招商办公大楼的企业。</p>

							<a href="news20150606.html" class="button read-more-button big button-arrow">查看更多</a>

						</div>
						<!-- /news Post -->