					<div class="col-lg-12 col-md-12 col-sm-12">
						<!-- Revolution Slider -->
						<div class="tp-banner-container main-revolution">

							<span class="Apple-tab-span"></span>

							<div class="tp-banner">

								<ul>
									<li data-transition="papercut" data-slotamount="7">
										<img src="img/slide1.jpg" alt="">
										<div class="tp-caption"  data-x="100" data-y="115" data-speed="700" data-start="1000" data-easing="easeOutBack"><h2> </h2></div>
										<div class="tp-caption"  data-x="100" data-y="310" data-speed="500" data-start="1200" data-easing="easeOutBack"><a href="zhaoshang.html" class="button big">我要加盟</a></div>
									</li>

									<li data-transition="papercut" data-slotamount="7">
										<img src="img/slide2.jpg" alt="">
										<div class="tp-caption align-center" data-x="center" data-y="135" data-speed="700" data-start="1000" data-easing="easeOutBack"><h4 class="great-vibes">it’s time for changes</h4></div>
										<div class="tp-caption align-center" data-x="center" data-y="220" data-speed="500" data-start="1200" data-easing="easeOutBack"><h2>手续简单  快速下机</h2></div>
										<div class="tp-caption align-center" data-x="center" data-y="300" data-speed="300" data-start="1400"><a href="banli.html" class="button big button-arrow">我要办理</a></div>
									</li>

									<li data-transition="papercut" data-slotamount="7">
										<img src="img/slide3.jpg" alt="">
										<div class="tp-caption align-right" data-x="right" data-hoffset="-100" data-y="150" data-speed="700" data-start="1000" data-easing="easeOutBack"><h2></h2></div>
										<div class="tp-caption align-right" data-x="right" data-hoffset="-100" data-y="225" data-speed="500" data-start="1200" data-easing="easeOutBack"><p>费率多选  行业定制</p></div>
										<div class="tp-caption align-right" data-x="right" data-hoffset="-100" data-y="305" data-speed="300" data-start="1400"><a href="products.html" class="button big button-arrow">更多信息</a></div>
									</li>
								</ul>

							</div>

						</div>
						<!-- /Revolution Slider -->

					</div>