			<!-- Section -->
			<section class="section full-width-bg">
				<div class="row">
					{{> RevolutionSlider}}
					{{> banner-wrapper}}
				</div>
			</section>
			<!-- /Section -->

			<!-- Section -->
			<section class="section full-width-bg gray-bg">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-8">
					{{> news-post}}
					</div>

					<!-- Sidebar -->
					<div class="col-lg-3 col-md-3 col-sm-4 sidebar">
					{{> news-events-date-sidebar}}						
					</div>
					<!-- /Sidebar -->
				</div>

				{{> pos-carousel-inline}}
			</section>
			<!-- /Section -->